<ion-split-pane contentId="main">
  <!--  our side menu  -->
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar style="height: 10em" class="d-flex align-items-end" color="primary">
         <div>
           <ion-avatar slot="start" style="margin-left: 10px">
             <ion-img *ngIf="user.image" [src]="user.image"></ion-img>
             <ion-img *ngIf="!user.image" src="assets/img/person-icon.png"></ion-img>
           </ion-avatar>
         </div>
          <div class="d-flex ion-justify-content-between">
            <div>
              <h3 style="margin-left: 10px">{{user.username}}</h3>
              <h6 style="margin-left: 10px; margin-top: 0;">{{user.email}}</h6>
            </div>
          </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngIf="checkUser.active == true" lines="none">
        <ion-menu-toggle auto-hide='false' *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection='root' [class.active-item]="selectedPath === p.url">
            <ion-avatar slot="start" class='ion-margin-top'>
                <i [class]="p.icon" class="fa-2x" style="color: cornflowerblue"></i>
            </ion-avatar>
            <ion-label>{{p.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
  </ion-content>
    <ion-footer>
      <ion-toolbar color="transparent">
        <ion-title class="ion-text-center">Version 1.0.0</ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
